.card-header-corner{
    float:right;
}

img.icon{
    width:20px;
    height:20px;
}
img.file-icon{
    width:40px;
}

div.card-header{
    font-weight:bold;
    font-size: 15px;
}

.card-title a {
    text-decoration:underline;
}
table.dataTable thead th, table.dataTable thead td{
    padding-right:20px !important;
}
.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.filtertag{
    display:inline-block;
    border:1px #ccc solid;
    margin-right:2%;
    padding:5px;
    background-color:#ccc;
    border-radius: 10px;
}
.removefiltertag{
    background-color:#ccc;
}
.tinyicon{
    font-size:18px;
    color:#f44336;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover
{
    color:#fff !important;
}
