.card-header-corner{
    float:right;
}

img.icon{
    width:20px;
    height:20px;
}
img.file-icon{
    width:40px;
}

div.card-header{
    font-weight:bold;
    font-size: 15px;
}

.card-title a {
    text-decoration:underline;
}
table.dataTable thead th, table.dataTable thead td{
    padding-right:20px !important;
}
.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.filtertag{
    display:inline-block;
    border:1px #ccc solid;
    margin-right:2%;
    padding:5px;
    background-color:#ccc;
    border-radius: 10px;
}
.removefiltertag{
    background-color:#ccc;
}
.tinyicon{
    font-size:18px;
    color:#f44336;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover
{
    color:#fff !important;
}

<!-- Styling diffs -->
.diff td{
  vertical-align : top;
  white-space    : pre;
  white-space    : pre-wrap;
  font-family    : monospace;
}

.diffInserted span {
    border: 1px solid rgb(192,255,192);
    background: rgb(224,255,224);
}

.diffDeleted span {
    border: 1px solid rgb(255,192,192);
    background: rgb(255,224,224);
}
#wordcloud{
    padding:auto;
    min-height:200px;
}

div.dataTables_wrapper div.dataTables_processing {
   top: 5%;
}

.card{
padding-bottom:2%;
}

a.navbar-brand{
	color:#333 !important;
}

.lang_problem{
	background-color:yellow;
}

.ks-input-suggestions{
	z-index:1;
}

.search-field::placeholder{
	line-height:2;
	font-size:14px;
	opacity:0.5;
}

.search-field{
	margin-bottom:5px;
	line-height:3;
	padding-left:10px;
}

#collection_search{
	width:90%;
}

a.nav-link{
	margin-right:0 !important;
}
.search-filters-card{
	background-color:#eee;
	padding:10px;
	border:2px purple solid;
}

.search-label{
	margin-bottom:0;
}
.inline-form{
	display:inline !important;
}

.float-container {
  padding: 0 8px;
  position: relative;
  display:inline-block;
}
.float-container input {
  font-size: 16px;
  outline: 0;
}
.float-container label {
  font-size: 11px;
  position: absolute;
  display:inline-block;
  margin:3px;
}

textarea#overridingcss{
	width:100%;
	height:130px !important;
	resize:both !important;
}
.audit-changes{
	font-weight:bold;
	color:blue;
}

input::placeholder{
	font-size:9px;
}

.align-top{
	vertical-align:top;
}

.filter-option-inner-inner{
	color:#666;
}

.howdy{
	display:inline-block;
	min-width:150px;
	position:absolute;
	top:-25px;
	right:0;
	font-size:0.8em;
}
/*tree view */

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

strong{
	font-weight:bold;
}

ul.related-docs{
	list-style-type:disc;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  } 
