.card-header-corner{
    float:right;
}

img.icon{
    width:20px;
    height:20px;
}
img.file-icon{
    width:40px;
}

div.card-header{
    font-weight:bold;
    font-size: 15px;
}

.card-title a {
    text-decoration:underline;
}
